{% extends 'base.html' %}
{% block title %}{{ event }} Detail{% endblock title %}

{% block content %}
    <h1>{{ event }}</h1>
    <p>Starts: {{ event.start_date|date:"D d M Y" }} {{ event.start_date|time:"H:i a" }}</p>
    <p>Ends: {{ event.end_date|date:"D d M Y" }} {{ event.end_date|time:"H:i a" }}</p>
    <p>Has it started? {{ event.has_started }}</p>
    <p>Has it finished? {{ event.has_finished }}</p>
    <p>Repeats: {{ event.get_repeat_by_display }}</p>

    <a href="{% url 'events:edit_event' event.id %}">Edit</a>
    <br>
    <a href="{% url 'events:delete_event' event.id %}">Delete</a>

{% endblock content %}



