{% extends 'base.html' %}
{% block title %}Calendar Index{% endblock title %}

{% block content %}
    <h1>Events</h1>
    <table>

        <tr>
            <th>Events:</th>
            <th>Starts:</th>
            <th>Ends:</th>
        </tr>

        {% if events_list %}
            {% for event in events_list %}
                <tr>
                <td><a href="{% url 'events:event_detail' event.id %}">{{ event.event_name }}</a></td>
                <td>{{ event.start_date|date:"D d M Y" }} {{ event.start_date|time:"H:i a" }}</td>
                <td>{{ event.end_date|date:"D d M Y" }} {{ event.end_date|time:"H:i a" }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <p>No events are available.</p>
        {% endif %}

    </table>

    <a href="{% url 'events:create_event' %}">Create new Event</a>

    <br><br><hr>
    <h1>Tasks</h1>
    <table>

        <tr>
            <th>Tasks:</th>
            <th>Priority:</th>
            <th>Due:</th>
            <th>Time needed to complete task:</th>
        </tr>

        {% if tasks_list %}
            {% for task in tasks_list %}
                <tr>
                    <td><a href="{% url 'events:task_detail' task.id %}">{{ task.task_name }}</a></td>
                    <td>{{ task.get_priority_display }}</td>
                    <td>{{ task.due_date|date:"D d M Y" }} {{ task.due_date|time:"H:i a" }}</td>
                    <td>{{ task.time_for_completion }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <p>No tasks are available.</p>
        {% endif %}

    </table>

    <a href="{% url 'events:create_task' %}">Create new Task</a>

{% endblock content %}
