<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events Index</title>
</head>
<body>
{% if events_list %}
    <ul>
    {% for event in events_list %}
        <li><a href="{% url 'events:detail' event.id %}">{{ event.event_text }} (Starts: {{ event.start_date|date:"D d M Y" }} {{ event.start_date|time:"H:i a" }})</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No events are available.</p>
{% endif %}
<br>
<a href="{% url 'events:create_event' %}">Create new Event</a>
</body>
</html>