{% extends 'base.html' %}
{% block title %}Events Index{% endblock title %}

{% block content %}
    <h1>Events</h1>
    <table>

        <tr>
            <th>Events:</th>
            <th>Starts:</th>
            <th>Ends:</th>
            <th>Repeats:</th>
        </tr>

        {% if events_list_all %}
            {% for event in events_list_all %}
                <tr>
                <td><a href="{% url 'events:detail' event.id %}">{{ event.event_text }}</a></td>
                <td>{{ event.start_date|date:"D d M Y" }} {{ event.start_date|time:"H:i a" }}</td>
                <td>{{ event.end_date|date:"D d M Y" }} {{ event.end_date|time:"H:i a" }}</td>
                <td>{{ event.get_repeat_by_display }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <p>No events are available.</p>
        {% endif %}

    </table>


    <a href="{% url 'events:create_event' %}">Create new Event</a>

{% endblock content %}
