{% extends 'base.html' %}
{% block title %}{{ task }} Detail{% endblock title %}

{% block content %}
    <h1>{{ task }}</h1>
    <p>Description:<br>{{ task.task_description }}</p>
    <p>Due by: {{ task.due_date|date:"D d M Y" }} {{ task.due_date|time:"H:i a" }}</p>
    <p>Time needed to complete task: {{ task.time_for_completion }}</p>
    <p>Priority: {{ task.get_priority_display }}</p>

    <a href="{% url 'events:edit_task' task.id %}">Edit</a>
    <br>
    <a href="{% url 'events:delete_task' task.id %}">Delete</a>

{% endblock content %}